@charset "UTF-8";

div{
    margin-right: 0px !important;

    display: inline-block;
}

div#frase-de-efeito{
    margin-top: 50px;
}

h1#h1-1{
    margin-bottom: 0px;

    font-size: 40px;
}

h1#h1-2{
    margin-top: 0px;

    padding-left: 70px;

    font-size: 40px;
}

div#frase-de-efeito{
    padding-left: 300px;
    padding-right: 300px;
}

div#corpo{
    margin-top: 50px;
    width: 600px;
    height: auto;
    display: inline-block;
}

div#explicacao{
    padding-left: 100px;
    width: 500px;
}

div#explicacao h2{
    font-size: 40px;
}

.informacoes{
    padding-left: 100px;
    width: 500px;
    height: 280px;
    display: inline-block;
}

.div-nome-usuario{
    width: 300px;
    height: 70px;
}

.usuario-nome{
    font-size: 25px;
    padding-left: 160px;
    width: 300px;
    height: auto;
    margin-bottom: 0px;
}

.usuario-nome-input{
    width: 400px;
    height: 40px;
    border-radius: 200px;

    background: #FFFFFF;
}

.div-input-usuario-nome{
    padding-left: 50px;
}


.codigo-da-sala-nome-p{
    font-size: 25px;
}

.codigo-da-sala-nome-p{
    padding-left: 55px;
}

.codigo-da-sala-input{
    width: 330px;
    height: 40px;
    border-radius: 200px;

    background: #FFFFFF;
}

.div-input-codigo-da-sala{
    padding-left: 30px;
}
