#page-home {
  width: 100vw; height: 100vh;
  color: var(--color-primary);
}

.page-home-content {
  ul, a, span {
    text-decoration: none;
    list-style: none;
  }

  #menu{
    display: none;
  }

  nav {
    background: var(--color-primary);
    color: #fff;
    position: fixed;
    width: 100%;
    display: flex; justify-content: space-between; align-items: center;

    img{
      height: 2.5rem;
      margin-left: 1rem;
    }
    ul {
      margin-right: 20px;
      li {
        line-height: 80px;
        margin: 0 10px;
        a {
          color: white;
          font-size: 20px;
          padding: 6px 15px;
          font-weight: 600;
          background-color: var(--color-primary-dark);
          border-radius: 3px;
          transition: .2s;

          &:hover {
            background-color: white;
            color: var(--color-primary-dark);
          }
        }
      }
    }
    .menu-bar {
      float: right;
      margin: auto 0;
      margin-right: 1rem;

      display: none;
    }
  }

  .side-menu {
    font-family: arial;
    position: fixed;
    background: var(--color-primary-darker);
    color: #ffff;
    width: 250px;
    height: 100%;
    margin-top: 80px;

    main {
      align-content: center;
      text-align: center;
      img {
        margin-top: 30px;
        height: 120px; width: 120px;
        border-radius: 50%;
        border: 3px solid white;
      }
      h2 {
        font-size: 2rem;
      }
    }
    .menu_option {
      display: flex;
      transition: .5s;
      margin-top: 1.5rem;
      color: white;
      margin-left: 1rem;
        
      &:hover{
        padding-left: 2.5rem;
      }
      & + .menu_option {
        margin-top: 2rem;
      }
      span {
        margin: auto;
        margin-left: 1rem;
      }
      .logout {
        display: none;
      }
    }
  }
}

@media (max-width: 850px) {
  .side-menu {
    width: 100px; max-width: 100px;
    span {
      display: none;
    }
    main {
      display: none;
    }
    .menu_option {
      transform: translateX(25%);
      size: 4rem;
      & + .menu_option {
        margin-top: 4rem;
      }
    }
  }
}