.sidebar {
  float: left;

  /* Colocar os itens no centro */
  display: flex !important;
  flex-direction: column;
  align-items: center;

  /* Tamanhos */ 
  width: 21vh;
  height: 100vh;

  /* cor */
  /*background-color: #9d27cc;*/
  background-color: #68179b;

  p {
    /*centralização*/
    align-items: center;
    display: flex;
    justify-content: center;
  
    /*estabelecendo o tamanho*/
    margin-bottom: 20px;
    margin-top: 20px;
    width: 100%;
    height: 35px;
  
    /* cor da letra */
    color: #fff;
  }
  
  .divMenu {
    padding-bottom: 1rem;
    padding-top: 1rem
  }
  
  a {
    /*centralização*/
    align-items: center;
    display: flex;
    justify-content: center;
  
    /*estabelecendo o tamanho*/
    margin-bottom: 20px;
    margin-top: 20px;
    width: 100%;
    height: 35px;
  
    /* cor da letra */
    color: #fff;
    /*centralização*/
    align-items: center;
    display: flex !important;
    justify-content: center;
  
    /*estabelecendo o tamanho*/
    width: 21vh;
    height: 55px;
    padding-top: 15px;
  
    color: #fff;
  
    /* muda o estilo do mouse */
    cursor: pointer;
  
    transition: 0.5s;
      /* quando o mouse ficar em cima, mudará de cor */
    &:hover {
      /*background-color: #8500b9;*/
      transform: translateY(-20px);
      box-shadow: 0 10px 40px rgba(0,0,0,0.2);
      background: linear-gradient(45deg, #b95ce4, #4f29cd);
    }
  }
  
  
  .divButtons {
    /* Alinhamento dos elemetos Filhos */
    align-items: center;
    -webkit-align-items: center;
    -webkit-box-align: center;
  
    /* espacamento da div de menu */
    margin-top: 1rem;
  }
  
  span {
    /* Alinhamento dos elemetos Filhos */
    align-items: center;
    -webkit-align-items: center;
    -webkit-box-align: center;
  
    /* espacamento da div de menu */
    margin: 75px;
  /*centralização*/
    align-items: center;
    display: flex !important;
    justify-content: center;
  
    /*formando o botão*/ 
    margin-top: 1rem;
    width: 18vh;
    height: 35px;
    display: block;
  
    /* muda o mouse */
    cursor: pointer;
  
    /* borda arredondada */
    border-radius: 10px;
  
    /*cor*/
    background-color: #b327c0;
  
    transition: 0.5s;
  
    /* quando o mouse estiver em cima muda de cor */
    &:hover{
      /*background-color: #933db4;*/
      /*background-color: #8500b9;*/
      transform: translateY(-20px);
      box-shadow: 0 10px 40px rgba(0,0,0,0.2);
      background: linear-gradient(45deg, #b95ce4, #4f29cd);
    }
  }
}