body{
  background: var(--color-background)
}
.page-register {
  width: 100vw;
  height: 100vh;
  .page-header .header-content {
    margin-bottom: 6.4rem;
  }
  main {
    background: var(--color-box-base);
    width: 100%;
    max-width: 74rem;
    border-radius: 0.8rem;
    margin: -3.2rem auto 3.2rem;
    padding-top: 6.4rem;
    overflow: hidden;

    fieldset {
      color: var(--color-primary);
      border: 0;
      padding: 0 2.4rem;
    
      + fieldset {
        margin-top: 6.4rem;
      }
      legend {
        font: 700 2.4rem Arial;
        margin-bottom: 2.4rem;
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        padding-bottom: 1.6rem;
        border-bottom: 1px solid var(--color-line-in-white);
      }
      button {
        background: none;
        border: 0;
        color: var(--color-primary);
        font: 700 1.6rem Archivo;
        cursor: pointer;
        transition: color 0.2s;
        &:hover {
          color: var(--color-primary-dark);
        }
      }
    }
    footer {
      padding: 4rem 2.4rem;
      background: var(--color-box-footer);
      border-top: 1px solid var(--color-line-in-white);
      margin-top: 6.4rem;
      p {
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 1.4rem;
        line-height: 2.4rem;
        color: var(--color-primary);
        #warning_icon {
          size: 1.5rem;
          color: #8257E5;
          margin-right: 2rem;
        }
      }
      button {
        width: 100%;
        height: 5.6rem;
        background: var(--color-secundary);
        color: var(--color-button-text);
        border: 0;
        border-radius: 0.8rem;
        cursor: pointer;
        font: 700 1.6rem Arial;
        outline: none;
        display: flex;
        align-items: center;
        justify-content: center;
        text-decoration: none;
        transition: background-color 0.2s;
        margin-top: 3.2rem;
        &:hover {
          background: var(--color-secundary-dark);
        }
      }
    }
  }
}

@media (min-width: 700px) {
  .page-register {
    max-width: 100vw;
    .page-header .header-content {
      margin-bottom: 0;
    }
    main {
      box-shadow: 5px 10px 5px 0 rgba(0,0,0,0.3);
      fieldset {
        padding: 0 6.4rem;
      }
      footer {
        padding: 4.0rem 6.4rem;
        display: flex;
        align-items: center;
        justify-content: space-between;
        p {
          justify-content: space-between;
        }
        button {
          width: 20rem;
          margin-top: 0;
        }
      }
    }
  }
}